* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
}
.calendar-year {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}
.year-calendar {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(3, 365px);
  grid-template-rows: repeat(4, 1fr);
  height: 1000px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}
.month {
  padding-top: 10px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.image-container {
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  max-height: 250px;
  overflow: hidden;
  width: 100%;
}
.header {
  text-align: center;
  margin-bottom: 10px;
}
.header-title {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  margin-left: 5px;
  margin-right: 5px;
  grid-auto-rows: 28px;
}
.day {
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 5px 2px 5px 2px;
}
.day span {
  font-weight: bold;
}
.bsu-logo {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
.final-message {
  display: inline-block;
  font-size: 40px;
  margin-top: 70px;
  text-align: center;
  font-weight: 700;
}
